<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>

    <add name="KütüphaneTakipProgramı.Properties.Settings.KütüphaneConnectionString"
  connectionString="Data Source=DESKTOP-G8IS3SP\SQLEXPRESS;Initial Catalog=KutuphaneOtomasyon;Integrated Security=True;"
  providerName="System.Data.SqlClient" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
